body{
    margin: 0;
    display: flex;
    justify-content: center;
}


button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border-color: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
    gap: 10px;
    margin: 5px;
    font-weight: bold;
}

#display{
    display: flex;
    justify-content: center;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#calculator {
    background-color: rgba(0, 0, 0, 0.397);
    border-style: solid;
    max-width: 500px;
    max-width: 400px;
    border-radius: 5px;
}

button.operatorBtn{
    background-color: orange;
}

button.operatorBtn:hover{
    background-color: rgb(255, 187, 61);
}

button.operatorBtn:active{
    background-color: rgb(255, 216, 143);
}


button:hover {
    background-color: rgba(0, 0, 0, 0.411);
}

button:active {
    background-color: rgba(0, 0, 0, 0.116);
}