* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}


.nav-bar {
    background-color: rgba(255, 149, 149, 0.644);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin-top: 20px;
    margin-left: 100px;
}

.nav-text {
    display: flex;
    margin-top: 35px;
    gap: 40px;
}

.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.nav-text a:hover {
    color: rgba(0, 0, 0, 0.671);
}

.nav-text a:active {
    color: rgba(0, 0, 0, 0.295);
}

.nav-btn {
    margin-top: 20px;
    margin-right: 100px;
    width: 150px;
    height: 60px;
    background-color: rgb(194, 138, 106);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    
}

.nav-btn a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.nav-btn a:hover{
    color: rgb(245, 185, 130);
}

.nav-text a:active{
    color: rgb(255, 229, 206);
}

.hero {
    margin: 100px 200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-text {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-inline: auto;

}

.hero-text-main {
    font-size: 4em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.hero-text-secondary {
    font-size: 18px;
    width: 450px;
}

.hero-btn {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.hero-btn-1 {
    width: 170px;
    height: 60px;
    background-color: rgb(78, 105, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.hero-btn-1 a {
    text-decoration: none;
    color: white
}

.hero-btn-1:hover{
    background-color: rgba(28, 50, 148, 0.808);
}

.hero-btn-2{
    width: 170px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0,5px;
    border-color: rgb(78, 105, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.hero-btn-2:hover{
background-color: rgb(226, 216, 216);
}

.hero-btn-2 a{
    text-decoration: none;
    color: rgb(78, 105, 224)
}

.hero-picture {
    margin-left: 90px;
}

.hero-2 {
    display: flex;
    justify-content: center;
}

.email-part {
    margin: auto 50px;
}

.email-text {
    margin-bottom: 50px;
}

.email-part .text p{
    font-size: 3em;
    font-weight: bold;
}

.label {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.btnTry {
    width: 170px;
    height: 60px;
    background-color: rgb(78, 105, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.btnTry:hover{
    background-color: rgba(28, 50, 148, 0.808);
}

.btnTry a {
    text-decoration: none;
    color: white;
}

.search input {
    padding: 20px 20px;
    border-radius: 10px;
    border-color: rgb(78, 105, 224);
}

.search input ::placeholder {
    font-size: 18px;
}

.pricing-main {
    display: flex;
    margin: 100px 500px;
    flex-direction: column;
}

.pricing-text {
    width: 400px;
}

.pricing-text p {
    font-size: 3em;
    font-weight: bold;
}

.pricing-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

.pricing-card-1 {
    width: 300px;
    height: 350px;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.pricing-card-1-name p{
    font-size: 18px;
}

.pricng-card-1-price{
    font-size: 3em;
    font-weight: bold;
}
.prcing-card-1-properties{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.pricing-card-1-btn{
    width: 150px;
    height: 50px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    cursor: pointer;
}

.pricing-card-1-btn:hover{
    background-color: rgb(255, 255, 255);
}

.pricing-card-1-btn a{
    text-decoration: none;
    color: rgb(73, 73, 245);
}

.pricing-card-2 {
    width: 300px;
    height: 350px;
    background-color: rgb(214, 95, 59);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(214, 95, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.pricing-card-2-name p{
    font-size: 18px;
    color: white;
}

.pricng-card-2-price{
    font-size: 3em;
    font-weight: bold;
    color: white;
}
.prcing-card-2-properties{
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: white;
}

.pricing-card-2-btn{
    width: 150px;
    height: 50px;
    background-color: rgb(167, 71, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(167, 71, 42);
    cursor: pointer;
}

.pricing-card-2-btn:hover{
    background-color: rgba(167, 71, 42, 0.774);
}

.pricing-card-2-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.pricing-card-3 {
    width: 300px;
    height: 350px;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.pricing-card-3-name p{
    font-size: 18px;
}

.pricng-card-3-price{
    font-size: 3em;
    font-weight: bold;
}
.prcing-card-3-properties{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.pricing-card-3-btn{
    width: 150px;
    height: 50px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    cursor: pointer;
}

.pricing-card-3-btn:hover{
    background-color: rgb(255, 255, 255);
}

.pricing-card-3-btn a{
    text-decoration: none;
    color: rgb(73, 73, 245);
}

.nav-bar {
    background-color: rgba(255, 149, 149, 0.644);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin-top: 20px;
    margin-left: 100px;
}

.nav-text {
    display: flex;
    margin-top: 35px;
    gap: 40px;
    margin-right: 100px;
}

.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
